body {
    margin: 20px;
    font-family: 'Bangers', cursive;
}

.avatar {
    width: 150px;
    border-radius: 150px
}

.card {
    width: 400px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #edede9;
    color: #2b2839;
    border-bottom: 10px solid #cdb4db;
        

}

.border-blue {
    border: 1px dotted blue;
}



